@tailwind base;
@tailwind components;
@tailwind utilities;
.BlogCard {
  min-width: 330px;
  width: 350px;
  height: auto;
}
.image {
  width: 320px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
